*,*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,picture,video,canvas,svg {
    display: block;
    max-width: 100%;
}

input,button,textarea,select {
    font: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

#root,#__next {
    isolation: isolate;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');









body{
    background-color: hsl(235, 21%, 11%);

}

main{
    height: 500px;
    margin: 2rem;
    z-index: 10;
    font-size: 13px;
}
.drag{
    padding-top: 2rem;
    text-align: center;
    color:hsl(234, 17%, 35%) ;
    font-size: 0.80rem;
    font-weight: 700;
}
.main-container{
    color: #999BB0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    z-index: -5;
    max-width: 600px;
    margin: 0 auto;
    
}
.background-img{
    background-image: url('images/bg-mobile-dark.jpg');
    width: 100%;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 1;   
    max-width: 600px;
    
}

.head{ 
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 3.5rem 2rem 1rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.logo-theme{
    justify-self: flex-end;
}

.head>*{
    cursor: pointer;
}
.new-todo{
    margin-bottom: 1.5rem;
    background-color: hsl(235, 24%, 19%);
    padding: 1rem 1.25rem;
    border-radius: 0.33rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}
.new-todo>div{
    border: 1px solid rgba(255, 255, 255, 0.459);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.new-todo>div:hover{
    background: linear-gradient(135deg, rgba(71, 218, 255, 0.603) 32%, rgba(191, 88, 243, 0.678) 72%);
    border-color: hsl(235, 24%, 19%);
}
.navigation{
    background-color: hsl(235, 24%, 19%);
    margin-top: 1.25rem;
    padding: 0.85rem 1.25rem;
    border-radius: 0.33rem;
    
}
.buttons>p,.clear>p:nth-last-child(1){
    cursor: pointer;
}
.buttons>p:hover,.clear>p:nth-last-child(1):hover {
    color: hsl(220, 98%, 61%);
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-inline: 1.75rem;
    color: hsl(234, 11%, 52%);
    font-weight: 700;
    font-size: 0.95rem;
}
.clear{
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    font-size: 0.75rem;
    color: hsl(234, 11%, 52%);
    border-top: 1px solid hsla(233, 11%, 52%, 0.247) ;
    background-color: hsl(235, 24%, 19%);
    border-radius: 0 0 0.25rem 0.25rem;
}
.container{
    background-color: hsl(235, 24%, 19%);
    border-radius: 0.25rem  0.25rem 0 0;
}
.task-div>img{
    cursor: pointer;
}
.task-div>img:nth-last-child(1){
    width: 15px;
    
}
.task-div>img:nth-child(1){
    border: 1px solid rgba(255, 255, 255, 0.459);
    padding: 6px;
    border-radius: 50%;
}
.task-div>img:nth-child(1):hover{
    background: linear-gradient(135deg, rgba(71, 218, 255, 0.603) 32%, rgba(191, 88, 243, 0.678) 72%);
    border-color: hsl(235, 24%, 19%);
}
.cross:hover{
    filter: invert(10%) sepia(200%) saturate(100%) hue-rotate(0deg) brightness(110%) contrast(900%);
}

.task-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 10px;
}
.brorder-bottom{
    border-bottom: 1px solid hsla(233, 11%, 52%, 0.247);
}
.task-div>p{
    margin-right: auto;
    cursor: pointer;
}




footer{
    text-align: center;
    margin-top: 12.5rem;
}
a:link{
    color: aqua;
}
